body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.whole {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 580px;
  padding: 30px 15px 20px 20px;
  border-style: solid;
  border-color: mediumspringgreen;
  border-width: 5px;
}

.top__column > span {
  margin-top: 3px;
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: 400;
}
.top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10px;
}
.top__column {
  display: flex;
  justify-content: center;
  width: 33%;
}
.top:nth-child(2) {
  display: flex;
  justify-content: center;
}
.top:last-child {
  display: flex;
  justify-content: flex-end;
}
.songtitle {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}

.playbtn {
  padding-bottom: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  margin-top: 20px;
}

.songtitle__titlebox {
  display: flex;
  flex-direction: column;
}

.playbtn {
  display: flex;
  justify-content: space-between;
  margin: 2px;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
}

.list__songs {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 30px;
}

.list__songs__titlebox {
  display: flex;
  flex-direction: column;
}

.list__songs__square {
  height: 50px;
  width: 50px;
  border-radius: 25%;
  border-style: solid;
  border-width: 2px;
  margin: 0px;
}

.list__songs:first-child .list__songs__square {
  background-color: tomato;
}
.list__songs:nth-child(2) .list__songs__square {
  background-color: pink;
}
.list__songs:nth-child(3) .list__songs__square {
  background-color: blue;
}
.list__songs:last-child .list__songs__square {
  background-color: mediumaquamarine;
}

h3,
h5 {
  margin: 1px;
  padding: 1px;
  margin-left: 7px;
}

h1 {
  margin: 3px 0px 1px 10px;
  padding: 0px;
}

h4 {
  margin: 0px 0px 0px 10px;
}
