@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import "reset.css";
@import "variables.css";
/* Components */
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/alt-screen-header.css";

/* Screens */
@import "airvnv login.css";
@import "airvnv search.css";
@import "airvnv wishlist.css";
@import "airvnv trip.css";
@import "airvnv messege.css";
@import "airvnv profile.css";

body {
  color: #2e363e;
  font-family: "Open Sans", sans-serif;
  height: 150vh;
}
.main-screen {
  padding: 0px var(--horizontal-space);
}
